<div style="text-align: center;" id="verify-user">
  <div style="display: flex; justify-content: center;">
    <div style="max-width: 300px;">
      <h5>QR SCANNER</h5>
      <zxing-scanner (scanSuccess)="scanSuccessHandler($event)"></zxing-scanner>
    </div>
  </div>
  <div>
    <h5>USER INFORMATION</h5>
    <mat-form-field class="example-full-width">
      <textarea
        [value]="scannerData"
        matInput
        placeholder="PUBLIC KEY"
        #key
        required
        disabled
      ></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Province</mat-label>
      <mat-select [(value)]="selectedProvince">
        <mat-option *ngFor="let province of provinces" [value]="province">
          {{ province.Name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="selectedProvince">
      <mat-label>District</mat-label>
      <mat-select [(value)]="selectedDistrict">
        <mat-option
          *ngFor="let district of selectedProvince.District"
          [value]="district"
        >
          {{ district }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="submit()">REGISTER</button>
  </div>
</div>
