<div *ngIf="items$">
  <div *ngIf="items$; else elseBlock">
        <div *ngFor= "let item of items$">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <strong>Publisher: </strong>{{item.publishers}}
                </mat-expansion-panel-header>
              
                <ng-template matExpansionPanelContent>
                    <p> <strong>Key: </strong> {{item.key}}</p>
                    <p> <strong>Data:  </strong>{{item.data}}</p>
                    <p> <strong>Confirmations: </strong> {{item.confirmations}}</p>
                    <p> <strong>Blocktime: </strong> {{item.blocktime}}</p>
                    <p> <strong>Transaction ID:  </strong> {{item.txid}}</p>
                </ng-template>
              </mat-expansion-panel>
        </div>
  </div>
  <ng-template #elseBlock> <strong>No items</strong> </ng-template>
</div>
