<h1>Decrypt votes</h1>
<div class="container">
  <section id="section01">
      <form #decryptForm="ngForm" (ngSubmit)="onSubmit()" class="example-form">
        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Decryption key" [formControl]="key1FormControl"
                 [errorStateMatcher]="matcher" required></textarea>
          <mat-error *ngIf="key1FormControl.hasError('key') && !key1FormControl.hasError('required')">
            Please enter an decryption key
          </mat-error>
          <mat-error *ngIf="key1FormControl.hasError('required')">
            Decryption key is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <!--<mat-form-field class="example-full-width">
          <textarea matInput placeholder="Dencryption key" [formControl]="key2FormControl"
                 [errorStateMatcher]="matcher" required></textarea>
          <mat-error *ngIf="key2FormControl.hasError('key') && !key2FormControl.hasError('required')">
            Please enter an decryption key
          </mat-error>
          <mat-error *ngIf="key2FormControl.hasError('required')">
            Decryption key is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Decryption key" [formControl]="key3FormControl"
                 [errorStateMatcher]="matcher" required></textarea>
          <mat-error *ngIf="key3FormControl.hasError('key') && !key3FormControl.hasError('required')">
            Please enter an decryption key
          </mat-error>
          <mat-error *ngIf="key3FormControl.hasError('required')">
            Decryption key is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Decryption key" [formControl]="key4FormControl"
                 [errorStateMatcher]="matcher" required></textarea>
          <mat-error *ngIf="key4FormControl.hasError('key') && !key4FormControl.hasError('required')">
            Please enter an decryption key
          </mat-error>
          <mat-error *ngIf="key4FormControl.hasError('required')">
            Decryption key is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Decryption key" [formControl]="key5FormControl"
                 [errorStateMatcher]="matcher" required></textarea>
          <mat-error *ngIf="key5FormControl.hasError('key') && !key5FormControl.hasError('required')">
            Please enter an Decryption key
          </mat-error>
          <mat-error *ngIf="key5FormControl.hasError('required')">
            Decryption key is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Decryption key" [formControl]="key6FormControl"
                 [errorStateMatcher]="matcher" required></textarea>
          <mat-error *ngIf="key6FormControl.hasError('key') && !key6FormControl.hasError('required')">
            Please enter an Decryption key
          </mat-error>
          <mat-error *ngIf="key6FormControl.hasError('required')">
            Decryption key is <strong>required</strong>
          </mat-error>
        </mat-form-field>-->
        <button mat-stroked-button color="primary" [disabled]="decryptForm.form.invalid" type="submit">Submit</button>
      </form>
  </section>
  <section id="section02">
  </section>
</div>
