<div id="settings">
    <div>
        <h5>Create an election.</h5>
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Name" value = "" required #name>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Public Key" [value]="publicKey" disabled #key>
            </mat-form-field>
            <button mat-stroked-button color="primary" (click)="onCreate(name.value, key.value)">Create</button>
        </form>
    </div>
    <div>
        <h5>List of elections</h5>
        <mat-list *ngIf="electionList">
            <mat-list-item *ngFor="let election of electionList">
                    <h5 style="width: 95%">{{election.name}}</h5>
                    <mat-slide-toggle (change)="onToggle(election.active, election.name)" [checked]="election.active"><h5>Off/On</h5></mat-slide-toggle>
                <mat-divider></mat-divider>
            </mat-list-item>
        </mat-list>
    </div>
</div>
