<div id="add-party">
  <div class="container animated zoomIn">
    <form class="example-form" [formGroup]="partyFormGroup" #f="ngForm" (ngSubmit)="onSubmit(f)">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Party name</mat-label>
        <input matInput formControlName="nameCtrl" required>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Area</mat-label>
        <input matInput formControlName="areaCtrl" required>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Image</mat-label>
        <input matInput formControlName="imageCtrl" required>
      </mat-form-field>
      <div id="add_button">
          <button mat-button type="submit">Add</button>
      </div>
    </form>
  </div>
  <div class="container">
    <app-party></app-party>
  </div>
</div>