nav{
    //background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    //background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%);
    //background: #3F51B5;
    border: none;
    a{
        opacity: 1.0;
        color: rgb(61, 55, 55);
        i{
            margin-right: 10px;
        }
    }
}