<!--<nav>
  <ul>
    <li>
      <a routerLink="" id="logo">
        <img src="./favicon.ico" alt="">
      </a>
    </li>
    <li>
      <a routerLink="" [class.activated]="currentUrl == '/'">
        Dashboard
      </a>
    </li>
    <li>
      <a routerLink="add" [class.activated]="currentUrl == '/add'">
        Add party
      </a>
    </li>
    <li>
      <a routerLink="add-rep" [class.activated]="currentUrl == '/add-rep'">
        Add representative
      </a>
    </li>
    <li>
      <a routerLink="config" [class.activated]="currentUrl == '/config'">
        Configuration
      </a>
    </li>
    <li>
      <a routerLink="decrypt" [class.activated]="currentUrl == '/decrypt'">
        Decrypt
      </a>
    </li>
    <li>
      <a routerLink="stream" [class.activated]="currentUrl == '/stream'">
        Streams
      </a>
    </li>
    
  </ul>
</nav>
-->
<header>

  <!-- Sidebar -->
  <div class="sidebar-fixed position-fixed z-depth-1-half">
          <a routerLink="dashboard" routerLinkActive="active" class="waves-effect">
              <i class="fa fa-pie-chart mr-3"></i>Dashboard
          </a>
          <a routerLink="add-rep" routerLinkActive="active" class="waves-effect">
              <i class="fa fa-user mr-3"></i>Registration</a>
          <a routerLink="stream" routerLinkActive="active" class="waves-effect">
              <i class="fa fa-table mr-3"></i>Streams</a>


  </div>
  <!-- Sidebar -->
</header>
<!--Main Navigation-->