<div class="container">
  <div><img src="./assets/logo.png" alt="" class="animated zoomIn"></div>
  <div class="animated zoomIn delay-s1">
    <h1>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut est hic veniam suscipit culpa repellendus expedita harum temporibus ipsa maiores.
    </h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro voluptates voluptate earum dignissimos. Perferendis debitis harum nostrum adipisci odit velit quidem ipsa dolor eius quis incidunt cupiditate, doloribus veritatis earum sapiente deserunt iusto, facilis error? Corrupti amet reprehenderit quisquam tempora dolore, adipisci magni deserunt quo quibusdam, vero saepe eaque repudiandae.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae vero itaque excepturi dignissimos voluptatem officia sed ea ad sunt? Ullam a repellendus accusantium recusandae nobis explicabo illo in necessitatibus ab ut, veniam ad dolore aut voluptatibus ex officiis quasi doloribus ea, quaerat pariatur ipsam rerum error nesciunt enim? Nulla, ducimus!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae vero itaque excepturi dignissimos voluptatem officia sed ea ad sunt? Ullam a repellendus accusantium recusandae nobis explicabo illo in necessitatibus ab ut, veniam ad dolore aut voluptatibus ex officiis quasi doloribus ea, quaerat pariatur ipsam rerum error nesciunt enim? Nulla, ducimus!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda voluptatem cum nihil voluptates laboriosam tenetur hic et quas velit at?
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo sunt, fugit debitis commodi minima ea repellendus doloribus praesentium dignissimos blanditiis?
    </p>
  </div>
</div>
