/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
$font: 'Roboto', sans-serif;
html {
    overflow-x: hidden;
}
body {
    margin: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
}

p{
    word-break: break-all;
}

mat-tab-body{
    padding: 20px;
    height: 100vh;
    overflow: auto;
}
mat-tab-header{
    color: white;
    background: rgba(3, 169, 244, 0.1) ;
    border:none;
}
footer.page-footer .footer-copyright{
    background: #3F51B5;
    color: white;
    a{
        color: white;
    }
}