@import url('https://fonts.googleapis.com/css?family=Taviraj');
table {
    width: 100%;
    border-radius: 10px;
    background: transparent;
    font-family: 'Taviraj', serif;
}
.mat-form-field {
    font-size: 14px;
    width: 100%;
}