#add-rep{
    padding: 25px;
    display: grid;
    grid-template-columns: 50% auto;
    grid-column-gap: 20px;
    .container{
        padding: 40px;
        //border-radius: 4px;
    }
}
mat-horizontal-stepper{
    background: none;
    padding: 0px;
    height: 100vh;
    mat-form-field{
        margin-left: 5px;
    }
    .button{
        text-align: right;
    }
}

table {
    width: 100%;
}
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}
