<div id="add-rep" @fade>
  <div class="container">
    <mat-horizontal-stepper [linear]="true" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup" #f1="ngForm" (ngSubmit)="onSubmit1(f1)">
          <ng-template matStepLabel>Fill out your name</ng-template>
          <mat-form-field appearance="outline">
            <mat-label>First name</mat-label>
            <input matInput placeholder="First name" formControlName="fnameCtrl" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
              <mat-label>Last name</mat-label>
            <input matInput placeholder="Last name" formControlName="lnameCtrl" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
              <mat-label>Age</mat-label>
            <input matInput placeholder="Age" type="number" formControlName="ageCtrl" required>
          </mat-form-field>
          <div class="button">
            <button mat-button color="primary" matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup" #f2="ngForm" (ngSubmit)="onSubmit2(f2)">
          <ng-template matStepLabel>Fill out your details</ng-template>
          <mat-form-field appearance="outline">
            <mat-label>Number</mat-label>
            <input matInput placeholder="Number" formControlName="numberCtrl" type="number" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Party</mat-label>
            <input matInput placeholder="Party" formControlName="partyCtrl" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Area</mat-label>
            <input matInput placeholder="Area" formControlName="areaCtrl" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Province</mat-label>
            <input matInput placeholder="Province" formControlName="provinceCtrl" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>District</mat-label>
            <input matInput placeholder="District" formControlName="districtCtrl" required>
          </mat-form-field>
          
          <div class="button">
            <button mat-button color="primary" matStepperPrevious>Back</button>
            <button mat-button color="primary" matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup" #f3="ngForm" (ngSubmit)="onSubmit3(f3)">
          <ng-template matStepLabel>Link to your profile photo</ng-template>
          <mat-form-field appearance="outline">
            <mat-label>Upload</mat-label>
            <input matInput placeholder="Upload a file" formControlName="uploadCtrl" required>
          </mat-form-field>
          <div class="button">
            <button mat-button color="primary" matStepperPrevious>Back</button>
            <button mat-button color="primary" matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        You are now done.
        <div class="button">
          <button mat-button color="primary" matStepperPrevious>Back</button>
          <button mat-button color="primary" (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
  <div class="container">
    <app-reps [input]="representativeList"></app-reps>
  </div>
</div>