#add-rep{
    display: grid;
    grid-template-columns: 50% auto;
    grid-column-gap: 35px;
}
.example-container {
    display: flex;
    flex-direction: column;
  }
  
.example-container > * {
    width: 90%;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    padding: 20px;
}

.example-full-width {
    width: 100%;
}
button{
    margin-top: 20px;
}

ul {
    padding-inline-start: 0;
}